{cover_enabled, true}.
{dialyzer, [{plt_extra_apps, [public_key]},
            {warnings, [unknown]}]}.
{erl_opts, [debug_info]}.
{deps,
 [{core,
   {git, "https://github.com/exograd/erl-core.git", {branch, "master"}}},
  {uri,
   {git, "https://github.com/galdor/erl-uri.git", {tag, "v1.3.0"}}},
  {ksuid,
   {git, "https://github.com/exograd/erl-ksuid.git", {tag, "v1.1.0"}}},
  {netrc,
   {git, "https://github.com/exograd/erl-netrc.git", {tag, "v1.0.1"}}}]}.
{shell, [{apps, [mhttp]}]}.
