{cover_enabled, true}.
{dialyzer, [{plt_extra_apps, [public_key]},
            {warnings, [unknown]}]}.
{erl_opts, [debug_info]}.
{deps,
 [{et,
   {git, "https://github.com/galdor/erl-et.git", {branch, "master"}}},
  {uri,
   {git, "https://github.com/galdor/erl-uri.git", {tag, "v1.2.0"}}},
  {uuid,
   {git, "https://github.com/galdor/erl-uuid.git", {branch, "master"}}}]}.
{shell, [{apps, [mhttp]}]}.
